2_Data/
2_Data/
3_Data/
0_Data/
.Rhistory
.httr-oauth
Figures/
../IPCC ClimateChangeCommitment/
1_Data/
MEE3_1_sm_Appendix_S1
MEE3_1_sm_Appendix_S1.zip
Models/
LUHabitatCategories.xlsx
SoilPropertiesbyStudy.csv
../IPCC ClimateChangeCommitment/
../Theory/
../Phylogeny/
4_Data/
4_Data.zip
6_Data/
Models.zip
3.5_Data/
