2_Data/
2_Data/
3_Data/
0_Data/
.Rhistory
.httr-oauth
Figures/
../IPCC ClimateChangeCommitment/
1_Data/
MEE3_1_sm_Appendix_S1
MEE3_1_sm_Appendix_S1.zip
Models/
LUHabitatCategories.xlsx
SoilPropertiesbyStudy.csv
../IPCC ClimateChangeCommitment/
../Theory/
../Phylogeny/
4_Data/
4_Data.zip
6_Data/
Models.zip
3.5_Data/
Prelim_Figures/
ResultsToDiscuss/
RevisedSpeciesNames/
9_Data/
10_Data/
11_Data/
15_Data/
20_Data/
EWSpeciesRefs/
predictedValues.csv
MapsAnalysed.txt
21_Data/
22_Data/
TaxonomixBackbone/
TaxonomicBackbone/
13_Data
14_Data
16_Data
18_Data
5_Data
7_Data
8_Data
REDUNDANT_FGRichnessData/
2_Data/
Authorship/
