SpatialGaps/accessibility-$JOB-ID.log SpatialGaps/accessibility.log SpatialGaps/accessibility-4585353.log SpatialGaps/accessibility-4585354.log
SpatialGaps/accessibility-$JOB-ID.log SpatialGaps/accessibility.log SpatialGaps/accessibility-4585353.log SpatialGaps/accessibility-4585354.log
SpatialGaps/SpeciesRichness_Gaps.png
SpatialGaps/AccClimateMask.tif
CountrylevelAnalysis/
EarthwormDatabase/
Phylogeny/
Theory/AllSoilSearchResults.csv
temp/
Theory/Manuscripts/
BES Research Grant/
SpatialGaps/ClimateChange_gaps.pdf
SpatialGaps/ClimteChangeGapsJPEG.PNG
UrbanforErin/Data/
UrbanforErin/Data/
UrbanforErin/Figures/
UrbanforErin/Models/
SpatialGaps/ClimateChange_gaps.jpg
